<h3>Profile for: <%= @user.full_name %></h3>
<ul class="small-block-grid-4">
	<li><h1><%= @measurement.steps_taken %></h1>
		<div class="progress">
  		<span class="meter" style="width: <%=@steps%>%"></span>
		</div></li>
	<li><h1><%= @measurement.veryActive_min %></h1>
		<div class="progress">
  		<span class="meter" style="width: <%=@minutes%>%"></span>
		</div></li>
	<li><h1><%= @measurement.distances_total_distance %></h1>
		<div class="progress">
  		<span class="meter" style="width: <%=@distance%>%"></span>
		</div></li>
	<li><h1><%= @measurement.calories_out %></h1>
		<div class="progress">
  		<span class="meter" style="width: <%=@calories%>%"></span>
		</div></li>
</ul>