<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "FitMD" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href=<% link_to root_url %>>FitMD</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <% if current_user %>
      <section class="top-bar-section">
      <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <%= link_to current_user.full_name, user_path(current_user.id) %>
            <ul class="dropdown">
              <li><%= link_to "Sign Out", signout_path %></li>
              <li><%= link_to "My Profile", user_path(current_user.id) %></li>
            </ul>
          </li>
        </ul>
    <!-- Left Nav Section -->
      </section>
      <% elsif current_admin_user %>
      <section class="top-bar-section">
      <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <a href="#"><%= current_admin_user.name%></a>
            <ul class="dropdown">
              <li><%= link_to "Sign Out", signout_path %></li>
            </ul>
          </li>
        </ul>
    <!-- Left Nav Section -->
      </section>
      <% else %>
        <section class="top-bar-section">
      <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">Sign In</a>
            <ul class="dropdown">
              <li><%= link_to "Sign in with Fitbit", "/auth/fitbit"%></li>
              <li><%= link_to "Admin sign in", "/auth/identity" %></li>
            </ul>
          </li>
        </ul>
    <!-- Left Nav Section -->
      </section>
      <% end %>
</nav>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>